h1 {
  text-align: center;
}
body {
  background-color: #ccced0;
}
table {
  table-layout: auto;
  border-collapse: collapse;
  width: 100%;
}
td, th {
  border: 1px solid black;
  text-align: left;
  padding: 8px;  
}
td{
  width: 100%;
}
th{
  background-color:#dddddd ;
  width: 30%;
}
#trascrizioneAudio{
  padding-left: 15px;
  width:75%;
  line-height: 1.4;
}
#timelineAudio {
  overflow:auto;
  position: fixed;
  left: 85%;
  bottom: 80px;
  width: 10%;
  height: 15em;
}
.testi{
  display: inline-block;
}
footer{
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: white;
  color: black;
  height: 5em;
}
button{ 
  background-color: #ccced0; 
  width: 100%;
  color: black;
  border: 2px solid black;
  font-size: 15px;
  padding: 10px;
  text-decoration: none;
  display: inline;
  transition-duration: 0.6s;
  cursor: pointer;
  position: absolute;
}
button:hover{
  background-color: #dddddd;
}
